sudo: false
language: python
python:
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11"
  - "3.12"
addons:
  apt:
    packages:
      - pandoc
install:
  - pip install -r requirements.txt
  - pip install coveralls
script: nosetests --with-coverage --cover-package=applyaf
after_success: coveralls
deploy:
  provider: pypi
  user: mdrpypi
  password:
    secure: NuAyLbTylUd/9gjVh5XwbF/IlG+ebkMSlAK/zVrDNlK0qsbReKI8kKsWsEkpGgxYjVwJeyquFNVSlQC3XwcKm3i4lrUBdlSUCapFmcs/cmnqWHW2VgtCxcgL76JmwkyIVcg9IrdA4izo11k9gmm+ve+Shgh3e0wlln4xpuGdLhE=
