backports.tarfile==1.2.0
invoke==2.2.0
jaraco.collections==5.1.0
mypy==1.8.0
nose2==0.14.1
numpy==1.26.4
packaging==24.2
pep8==1.7.1
pep8-naming==0.13.3
pip-chill==1.0.3
platformdirs==4.2.2
tomli==2.0.1
twine==5.0.0
unipath==1.1
